<div class="history">
    <div class="cd-timeline-header">
        <h2 id="Experenice">Experiencia</h2>
        <hr class="bar"/>
    </div>
    <section id="cd-timeline" class="cd-container">
        <div class="cd-timeline-block">
            <div class="cd-timeline-img cd-picture"><img src="../assets/img/college.svg" alt="Picture"/></div>
            <!-- cd-timeline-img-->
            <div class="cd-timeline-content">
                <h2 class="story-heading">Presentación</h2>
                <P>Preparación física y nutricional de todo tipo de deportistas. Desde la adaptación al deporte a la asesoría de deportistas de alto rendimiento.</P>
                <span class="cd-date"></span>
            </div>
            <!-- cd-timeline-content--><!-- cd-timeline-block-->
        </div>
        <div class="cd-timeline-block">
            <div class="cd-timeline-img cd-movie"><img src="../assets/img/idea14.svg" alt="College"/></div>
            <!-- cd-timeline-img-->
            <div class="cd-timeline-content">
                <h2>Guillermo Skipper</h2>
                <p>
                  <ul>
                    <li>Entrenador personal titulado</li>
                    <li>Titulación en nutrición deportiva</li>
                    <li>Entrenamiento de atlétas de alto a nivel competitivo</li>
                    <li>Atléta IPF Powerlifting PRO</li>
                    <li>Subampeón de Europa de Powerlifting 2016</li>
                    <li>Bronce Campeonato del Mundo de Powerlifting 2016</li>
                    <li>Bicampeón de España de Powerlifting</li>
                    <li>12x Records de España de Powerlifting</li>
                  </ul>
                </p>
                <span class="cd-date"></span>
            </div>
            <!-- cd-timeline-content--><!-- cd-timeline-block-->
        </div>
        <div class="cd-timeline-block">
            <div class="cd-timeline-img cd-picture"><img src="../assets/img/web-programming.svg" alt="Picture"/></div>
            <!-- cd-timeline-img-->
            <div class="cd-timeline-content">
                <h2>Oriol Balart</h2>
                <p>
                  <ul>
                    <li>Nutrición Deportiva y Suplementos de ICNS</li>
                    <li>Simposium internacional de nutrición deportiva, suplementación y ayudas ergogénicas de Five Stars Fitness</li>
                    <li>Obesity Tour de Fassthink</li>
                    <li>Webinares de <a href="http://g-se.com/es/">G-SE</a></li>
                    <li>Colaborador en <a href="http://powerexplosive.com/">Powerexplosive</a></li>
                    <li>Colaborador en <a href="http://masmusculo.com/">Más musculo</a></li>
                  </ul>
                </p>
                <span class="cd-date"></span>
            </div>
            <!-- cd-timeline-content--><!-- cd-timeline-block-->
        </div>

            <!-- cd-timeline-content--><!-- cd-timeline-block-->
            <div class="cd-timeline-block">
                <div class="cd-timeline-img cd-location"><img src="../assets/img/question30.svg" alt="Location"/></div>
            </div>
            <!-- cd-timeline-->
        </div>
    </section>
    <div class="cd-timeline-header">
        <h2></h2>
    </div>
</div>
